html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #FF7700;
}
a:hover {
    color: #CC6600;
}
body {
    background: url("img/bg.gif") repeat-x scroll 0 0 #0094D6;
    color: #446666;
    font: 62.5% "Lucida Sans Unicode",sans-serif;
    margin: 0;
}
input {
    color: #555555;
    font: 1.1em "Lucida Sans Unicode",sans-serif;
}
p, cite, code, ul {
    font-size: 1.2em;
    padding-bottom: 1.2em;
}
h1 {
    font-size: 1.4em;
    margin-bottom: 4px;
}
code {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/bgcode.gif") repeat scroll 0 0 transparent;
    border-color: #F0F0F0 #F0F0F0 #F0F0F0 #3399FF;
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    color: #555555;
    display: block;
    font: 1.1em "Lucida Sans Unicode",serif;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}
cite {
    background: url("img/quote.gif") no-repeat scroll 0 0 transparent;
    color: #666666;
    display: block;
    font: 1.3em "Lucida Sans Unicode",serif;
    padding-left: 28px;
}
h1, h2, h3 {
    color: #0066CC;
    padding-top: 6px;
}
.clear, .clearer {
    clear: both;
}
.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.container {
    background: url("img/topleft.gif") no-repeat scroll 0 0 transparent;
}
.header {
    height: 92px;
}
.title {
    float: left;
    padding: 28px 0 0 76px;
}
.title h1 {
    color: #FFFFFF;
    font: 2em Verdana,sans-serif;
}
.navigation {
    float: left;
    height: 92px;
    margin-left: 24px;
    padding: 0 16px;
}
.navigation a {
    color: #FFFFFF;
    float: left;
    font: bold 1.2em "Trebuchet MS",sans-serif;
    margin-top: 56px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
}
.navigation a:hover {
    background-color: #4A91C3;
    color: #FFFFFF;
}
.main {
    background: url("img/bgmain.gif") no-repeat scroll 0 0 #FFFFFF;
    clear: both;
    padding: 12px 12px 0 52px;
}
.sidenav {
    float: left;
    width: 24%;
}
.sidenav h1 {
    border-bottom: 1px dashed #DDDDDD;
    color: #EE7733;
    font-size: 1.2em;
    height: 20px;
    margin-top: 1.2em;
}
.sidenav ul {
    margin: 0;
    padding: 0;
}
.sidenav li {
    border-bottom: 1px dashed #EEEEEE;
    list-style: none outside none;
    margin: 0;
}
.sidenav li a {
    color: #777777;
    display: block;
    font-size: 0.9em;
    padding: 3px 6px 3px 18px;
    text-decoration: none;
}
.sidenav li a:hover {
    background: url("img/nav_li.gif") no-repeat scroll 0 0 transparent;
    color: #111111;
}
.content {
    float: left;
    margin-right: 4%;
    width: 100%;
}
.content .descr {
    color: #CC6600;
    margin-bottom: 6px;
}
.content li {
    list-style: disc outside url("img/li.gif");
    margin-left: 18px;
}
.styled {
    border: 3px double #E5E5E5;
    padding: 2px 3px;
}
.button {
    border: 1px solid #AAAAAA;
    margin-left: 5px;
    padding: 2px 3px;
}
.footer {
    background: url("img/bgfooter.gif") repeat-x scroll 0 0 #0094D6;
    font-size: 1.1em;
    padding: 14px 4% 12px;
}
.footer a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer, .footer .right a {
    color: #C1DEF0;
}
.footer a:hover, .footer .right a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.middle {
    border: 5px solid #C1DEF0;
    margin-left: auto;
    margin-right: auto;
}
.middle TD {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.logincontainer {
    background-color: white;
    display: table;
    height: 500px;
    width: 100%;
}
.loginposition {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.container {
    display: none;
}
